# ==========================================
# Lumibooks Backend - Environment Variables
# ==========================================
# Este archivo sirve como referencia de las
# variables necesarias para ejecutar el proyecto.
#
# Configure estas variables en su sistema
# operativo o entorno de ejecución.
#
# No subir credenciales reales a GitHub.
# ==========================================

# Database Configuration
DB_URL=
DB_USER=
DB_PASSWORD=

# JWT Configuration
JWT_SECRET=
JWT_EXPIRATION=900000
JWT_REFRESH_EXPIRATION=2592000000

# Cloudinary Configuration
cloudinary.cloud-name=
cloudinary.api-key=
cloudinary.api-secret=

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# COOKIES 
COOKIE_SECURE=false

# CORS
CORS_ALLOWED_ORIGINS=http://localhost:3000

# Perfil activo (dev/prod)
SPRING_PROFILES_ACTIVE=dev